<div class="scenario1">
    <app-scenario1></app-scenario1>
</div>
<div class="scenario2">
    <app-scenario2></app-scenario2>
    <p>What you give here you will get same!</p>
</div>
<div class="scenario3">
    <app-scenario3></app-scenario3>
    <p>What you give here you will get same!</p>
</div>
<div class="scenario4">
    <app-scenario4></app-scenario4>
    <p>Parent takes care of child!</p>
</div>
<div class="scenario5">
    <app-scenario5></app-scenario5>
    <p>Parent takes care of child and Grandchild!</p>
</div>
<div class="scenario6">
    <app-scenario6></app-scenario6>
    <p>Every sibling knows your secret!</p>
</div>

    
